:root {
--main-color: #d3191e;
--second-color: #1f1f1f;
--third-color:#b3b3b3;
--fourth-color:#ffffff;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
outline: none;
}
html, body {
margin: 0;
padding: 0;
font-family: 'Antonio', sans-serif;
font-family: 'Roboto', sans-serif;
font-size: 14px;
line-height: 1.3;
}
ul, ol {
margin: 0;
padding: 0;
list-style: none;
}
p {
margin: 0;
padding: 0;
line-height: 1.6;
font-family: 'Roboto', sans-serif;
font-size: 15px;
}
li {
list-style: none;
}
a, a:active, a:focus, button, button:focus,
button:active, .btn, .btn:focus, .btn:active:focus,
.btn.active:focus, .btn.focus, .btn.focus:active,
.btn.active.focus, .form-control:focus {
outline: none;
outline: 0;
box-shadow: 0 0 0 0.0rem rgb(0 123 255 / 25%);
color: var(--second-color);
}
a:hover {
text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;
}
img {
max-width: 100%;
box-sizing: border-box
}
.p-80{
padding: 80px 0;
}
.p-50{
padding: 50px 0;
}
.heading h2 {
font-size: 24px;
font-weight: 500;
position: relative;
margin-bottom: 40px;
color: var(--second-color);
text-transform: uppercase;
}
.heading h2:before {
content: "";
position: absolute;
width: 40%;
height: 1px;
background: var(--third-color);
left: 0;
top: 12px;
}
.heading h2:after {
content: "";
position: absolute;
width: 40%;
height: 1px;
background: var(--third-color);
right: 0;
top: 12px;
}
.hvr-bounce-to-right:before {
background: var(--main-color);
}
.hvr-shutter-out-horizontal:before{
background: var(--main-color);
}
.customform ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
color: #fff;
opacity: 1; /* Firefox */
font-family: 'Antonio', sans-serif;
}
.customform :-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #fff;
font-family: 'Antonio', sans-serif;
}
.customform ::-ms-input-placeholder { /* Microsoft Edge */
color: #fff;
font-family: 'Antonio', sans-serif;
}
/******************scroll to top*************/
.scrollup {
position: fixed;
right: 2%;
bottom: 3%;
background: var(--main-color);
color: #fff;
font-size: 20px;
opacity: 1;
border-radius: 5px;
width: 40px;
height: 40px;
line-height: 40px;
text-align: center;
z-index: 9999;
cursor: pointer;
}
/*************************loader*****************************/
.loader {
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
z-index: 999999;
background: url(../images/loader.gif) 50% 50% no-repeat #ffffff;
}
/*====================== header  =====================*/
header {
-webkit-transition: top 0.6s ease;
-moz-transition: top 0.6s ease;
-ms-transition: top 0.6s ease;
-o-transition: top 0.6s ease;
transition: top 0.6s ease;
margin: 20px 0;
padding: 0;
position: absolute;
width: 100%;
z-index: 999;
transition: all ease-in-out 600ms;
}
.main-header {
background: #fff;
}
.logo img{
width: 225px;
}
.main-header ul.navbar-nav.ml-auto {
display: flex;
align-items: center;
}
.main-header li.nav-item.active .nav-link {
background: var(--main-color);
color: #fff;
padding: 25px 20px;
}
.main-header .navbar{
padding: 0;
}
.main-header .navbar-nav .nav-item{
padding-right: 28px;
}
.main-header .navbar-nav .nav-item:last-child{
padding-right: 0px;
margin-left: 40px;
}
.main-header .navbar-nav .nav-item:last-child a.nav-link {
background: #f00;
padding: 25px 30px;
color: #fff;
font-weight: 700;
}
.main-header .dropdown-item {
font-size: 13px;
text-transform: capitalize;
}
.main-header .navbar-nav li.nav-item.active .nav-link{
color: #fff;
}
.main-header .navbar-nav .nav-link {
text-transform: uppercase;
}
.main-header .navbar-nav .nav-link {
color: var(--second-color);
font-size: 17px;
font-weight: 300;
transition: .3s;
font-family: 'Antonio';
}
.main-header .navbar-nav .nav-link:hover{
color: var(--second-color);
}
.main-header .navbar-nav .dropdown-menu {
position: static;
float: none;
background-color: #29323c;
}
.main-header ul.dropdown-menu li a.dropdown-item{
color: #fff;
font-size: 14px;
font-weight: 400;
text-transform: capitalize;
transition: .3s;
}
.main-header .dropdown-item:focus, .dropdown-item:hover {
color: #16181b;
text-decoration: none;
background-color: transparent;
}
/*==============banner-section============*/
.banner {
position: relative;
}
.banner-overlay {
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
background: rgba(0,0,0,0.45);
z-index: 9;
}
.banner-box{
position: relative;
}
.banner-desc {
position: absolute;
top: 45%;
left: 0;
width: 100%;
transform: translateY(-50%);
z-index: 222;
}
.banner-txt {
width: 50%;
}
.banner-txt h2 {
color: var(--fourth-color);
font-size: 50px;
line-height: 1.4;
text-transform: capitalize;
font-weight: 600;
font-family: 'Antonio', sans-serif;
}
.banner-txt p {
font-size: 16px;
margin: 25px 0px;
color: #fff;
font-weight: 300;
}
#banner-slider .owl-dots .owl-dot{
position: relative;
}
#banner-slider .owl-nav.disabled+.owl-dots {
margin-top: 10px;
position: absolute;
bottom: 10%;
left: 50%;
transform: translateX(-50%);
}
#banner-slider .owl-dots .owl-dot::after {
position: absolute;
top: 0;
left: 0;
width: 16px;
height: 16px;
content: "";
border-radius: 50px;
border: 2px solid var(--main-color);
margin: -1px 4px;
opacity: 0.2;
}
#banner-slider .owl-dots .owl-dot.active::after {
border: 2px solid var(--main-color);
opacity: 1;
}
#banner-slider .owl-dots .owl-dot span {
width: 8px;
height: 8px;
margin: 3px 8px;
background: var(--main-color);
opacity: 0.2;
border-radius: 50px;
}
#banner-slider .owl-dots .owl-dot.active span, 
#banner-slider .owl-dots .owl-dot:hover span {
background: var(--main-color);
opacity: 1;
}
.contact-more .btn-contact {
color: var(--fourth-color);
padding: 1rem 2rem;
display: inline-block;
font-size: 15px;
line-height: 1;
text-transform: uppercase;
text-align: center;
z-index: 1;
border: 1px solid var(--fourth-color);
overflow: hidden;
}
.contact-more .btn-contact:hover {
background-position: right center;
}
/*===========offer-section==========*/
.offer-section .offer-box {
border-radius: 0rem;
margin-bottom: 30px;
}
.offer-box .offer-details {
padding: 0.8rem 1.25rem;
}
.offer-box .offer-details ul {
display: flex;
justify-content: space-between;
align-items: center;
}
.offer-box .offer-details h3 {
font-family: 'Antonio', sans-serif;
font-size: 20px;
text-transform: uppercase;
}
.offer-box-img {
position: relative;
overflow: hidden;
width: 100%;
}
.offer-box-img .card-img-top {
border-top-left-radius: 0;
border-top-right-radius: 0;
}
.offer-box-img img {
overflow: hidden;
width: 100%;
height: 100%;
object-fit: cover;
}
.offer-box .card-body {
padding: 0;
}
.offer-box .offer-details ul li a {
display: block;
font-size: 22px;
transition: 0.5s;
-webkit-transition: 0.5s;
-moz-transition: 0.5s;
}
.offer-box .offer-details ul li a:hover {
color: var(--main-color);
}
/*===========trending-products==========*/
.trending-products {
background: url(../images/trending-bg.jpg);
}
.trending-products .heading h2:before {
content: "";
position: absolute;
width: 36%;
height: 1px;
background: var(--third-color);
left: 0;
top: 12px;
}
.trending-products .heading h2:after {
content: "";
position: absolute;
width: 36%;
height: 1px;
background: var(--third-color);
right: 0;
top: 12px;
}
.gridcontainer {
display: grid;
/*grid-template-columns: repeat(4, 1fr);*/
grid-gap: 20px;
grid-auto-flow: row;
}
.gridcontainer .item:nth-child(1) {
grid-column: 1 / 3;
grid-row: 1 / 3;
}
.gridcontainer .item:nth-child(2) {
grid-column: 3/4;
grid-row: 1/2;
}
.gridcontainer .item:nth-child(3) {
grid-column: 4/5;
grid-row: 1/2;
}
.gridcontainer .item:nth-child(4) {
grid-column: 3/4;
grid-row: 2/3;
}
.gridcontainer .item:nth-child(5) {
grid-column: 4/5;
grid-row: 2/3;
}
.productimage {
position: relative;
}
.productimage img{
position: relative;
width: 100%;
height: 100%;
}
.abstext p {
text-align: center;
padding: 8px;
font-family: 'Antonio', sans-serif;
font-size: 16px;
text-transform: uppercase;
}
/*============process-section============*/
.process-section .heading h2:before {
content: "";
position: absolute;
width: 36%;
height: 1px;
background: var(--third-color);
left: 0;
top: 12px;
}
.process-section .heading h2:after {
content: "";
position: absolute;
width: 36%;
height: 1px;
background: var(--third-color);
right: 0;
top: 12px;
}
.process-section .process-box {
border-radius: 0rem;
margin-bottom: 30px;
position: relative;
background: #f2f2f2;
border: 0;
}
.process-section .process-box:before {
content: "";
position: absolute;
width: 80px;
height: 80px;
background: #d00c0d;
}
.process-section .process-box:after {
position: absolute;
width: 80px;
height: 80px;
line-height: 80px;
color: #fff;
font-weight: 800;
font-size: 40px;
}
.process-section .col-md-4:nth-child(1) .process-box:after {
content: "01";
}
.process-section .col-md-4:nth-child(2) .process-box:after {
content: "02";
}
.process-section .col-md-4:nth-child(3) .process-box:after {
content: "03";
}
.process-box .icon-box {
width: 70px;
height: 70px;
margin: 20px auto;
overflow: hidden;
}
.process-box .icon-box img {
width: 100%;
height: 100%;
object-fit: cover;
}
.process-box .process-title h5.card-title {
margin: 1.25rem 0;
font-family: 'Antonio', sans-serif;
text-transform: uppercase;
font-size: 22px;
}
.process-box .process-text {
margin-bottom: 2.5rem;
}
.process-box .process-text p.card-text {
line-height: 1.8;
}
/*============project-section============*/
.project-section {
background: url(../images/project-bg.jpg);
}
.project-section .project-box{
border-radius: 0;
border: 0;
margin-bottom: 30px;
}
.project-box .card-body {
padding: 0;
}
.project-box-img {
position: relative;
overflow: hidden;
width: 100%;
}
.project-box-img img {
overflow: hidden;
width: 100%;
height: 100%;
object-fit: cover;
}
.project-box .card-img-top {
border-top-left-radius: 0;
border-top-right-radius: 0;
}
/*============about-setion============*/
.about-title p {
font-family: 'Antonio', sans-serif;
font-size: 32px;
line-height: 1.25;
}
.about-title p span {
font-family: 'Antonio', sans-serif;
font-size: 54px;
color: #ff0400;
font-weight: 600;
}
.about-desc h5 {
font-size: 22px;
position: relative;
display: inline-block;
color: var(--second-color);
margin-bottom: 15px;
}
.about-desc p {
line-height: 1.8;
}
.right-about {
padding: 0 30px;
border-left: 1px solid rgb(232 232 232 / 50%);
}
/*========our-client-section=======*/
.our-client-sec {
background: url(../images/testimonial-bg.jpg);
}
.our-client-sec .title h2 {
color: #f7f7f5;
text-transform: uppercase;
margin-bottom: 50px;
position: relative;
padding-bottom: 15px;
}
.our-client-sec .title h2:before {
content: "";
position: absolute;
background: url(../images/title-bg.png) no-repeat center center;
width: 100%;
height: 41px;
bottom: -27px;
margin: 0 auto;
left: 0;
right: 0;
}
.our-client-sec .item{
padding: 10px 15px;
}
.testi-image {
width: 80px;
height: 80px;
margin: 20px auto;
border-radius: 50%; 
position: relative;
z-index: 111;
}
.testi-image:after{
content: '';
position: absolute;
left: 50%;
top: 50%;
width: 120px;
height: 120px;
background: transparent;
display: block;
border: 2px solid var(--main-color);
transform: translate(-50%, -50%);
border-radius: 50%;
animation: zoomBig 3.25s linear infinite;
animation-delay: 0s;
z-index: 1;
}
.testi-image:before{
content: '';
position: absolute;
left: 50%;
top: 50%;
width: 120px;
height: 120px;
background: transparent;
display: block;
border: 2px solid #fff;
transform: translate(-50%, -50%);
border-radius: 50%;
animation: zoomBig 3.25s linear infinite;
animation-delay: .75s;
z-index: 1;
}
@keyframes zoomBig{
0%{
transform: translate(-50%, -50%) scale(0);
opacity: 1;
}
100%{
transform: translate(-50%, -50%) scale(1.2);
opacity: 0;
border: 4px solid #fff;
}
}
.testi-image img{
object-fit: cover;
width: 100%;
position: relative;
z-index: 111;
}
.our-client-sec .heading h2::after, .our-client-sec .heading h2::before{
display: none;
}
.testi-desc p {
line-height: 1.5;
margin: 20px 0;
font-weight: 300;
/* font-style: italic; */
color: #fff;
position: relative;
}
.testi-desc p:before {
content: "\f10d";
position: absolute;
left: -10px;
top: 0;
font-family: "Font Awesome 5 Free";
font-weight: 900;
color: #bfbfbf;
font-size: 17px;
}
.testi-author p {
margin-bottom: 10px;
font-size: 18px;
color: #fff;
}
.our-client-sec .owl-theme .owl-dots .owl-dot{
position: relative;
}
.our-client-sec .owl-theme .owl-dots .owl-dot::after {
position: absolute;
top: 0;
left: 0;
width: 16px;
height: 16px;
content: "";
border-radius: 50px;
border: 2px solid var(--second-color);
margin: -1px 4px;
opacity: 0.2;
}
.our-client-sec .owl-theme .owl-dots .owl-dot.active::after {
border: 2px solid var(--second-color);
opacity: 1;
}
.our-client-sec .owl-theme .owl-dots .owl-dot span {
width: 8px;
height: 8px;
margin: 3px 8px;
background: var(--second-color);
opacity: 0.2;
border-radius: 50px;
}
.our-client-sec .owl-theme .owl-dots .owl-dot.active span, .our-client-sec .owl-theme .owl-dots .owl-dot:hover span {
background: var(--second-color);
opacity: 1;
}
.our-client-sec .owl-theme .owl-nav.disabled+.owl-dots {
margin-top: 30px;
}
#testi-slider .owl-prev {
color: #868686;
position: absolute;
top: 30%;
left: -10%;
background: #fff;
padding: 15px;
padding: 15px;
width: 40px;
height: 40px;
line-height: 40px;
border: 0;
border-radius: 0%;
font-size: 28px;
font-weight: 600;
}
#testi-slider .owl-next {
color: #868686;
position: absolute;
top: 30%;
right: -10%;
background: #fff;
padding: 15px;
padding: 15px;
width: 40px;
height: 40px;
line-height: 40px;
border: 0;
border-radius: 0%;
font-size: 28px;
font-weight: 600;
}
/*===========our-blog==========*/
.our-blog {
position: relative;
background: url(../images/blog-bg.jpg) top left;
padding: 90px 0;
}
.our-blog .blog-box {
border-radius: 0;
}
.blog-box .blog-details {
padding: 0.85rem 0.5rem;
}
.blog-box-img {
position: relative;
overflow: hidden;
width: 100%;
height: 200px;
}
.blog-box-img img {
overflow: hidden;
width: 100%;
height: 100%;
object-fit: cover;
}
.blog-box .card-body {
padding: 5px;
border-radius: 0;
}
.blog-name {
padding: 10px 0 0;
}
.blog-name .card-title {
margin-bottom: .5rem;
font-size: 16px;
font-family: 'Roboto', sans-serif;
color: var(--second-color);
}
.blog-name p {
font-weight: 300;
color: var(--third-color);
margin: 0.5rem 0;
}
.blog-name p.date {
color: var(--second-color);
font-weight: 400;
}
#owldemo4 .item {
padding-bottom: 30px;
}
#owldemo4 .owl-prev {
color: #fff;
position: absolute;
top: 45%;
left: -4%;
background: var(--main-color);
padding: 15px;
padding: 15px;
width: 40px;
height: 40px;
line-height: 40px;
border: 0;
border-radius: 0%;
font-size: 28px;
font-weight: 600
}
#owldemo4 .owl-next {
color: #fff;
position: absolute;
top: 45%;
right: -4%;
background: var(--main-color);
padding: 15px;
padding: 15px;
width: 40px;
height: 40px;
line-height: 40px;
border: 0;
border-radius: 0%;
font-size: 28px;
font-weight: 600
}
/*=================callus====================*/
.callus{
background: url(../images/callus-bg.jpg);
position: relative;
padding: 15px 0;
}
.callus:before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgb(245 64 61 / 80%);
}
.callus ul {
display: flex;
justify-content: space-around;
align-items: center;
}
.callus ul li .title h2{
color: #fff;
font-family: 'Antonio', sans-serif;
font-weight: 300;
letter-spacing: 1px;
}
.callus ul li .call-us a.btn-call {
display: inline-block;
color: #fff;
background: var(--second-color);
border-radius: 30px;
padding: 8px 28px;
transition: 0.5s;
-webkit-transition: 0.5s;
-moz-transition: 0.5s;
overflow: hidden;
font-family: 'Antonio', sans-serif;
font-size: 26px;
font-weight: 900;
border: 0;
}
.callus ul li .call-us a.btn-call:hover{
background: var(--main-color);
}
/*************footer****************/
footer {
padding: 50px 0;
background: url(../images/footerbg.jpg);
width: 100%;
height: 100%;
}
footer h2 {
font-size: 30px;
font-family: 'Antonio', sans-serif;
position: relative;
padding-bottom: 30px;
color: #fff;
}
.singlefooter {
    margin-bottom: 25px;
}
.singlefooter p {
color: #fff;
font-weight: 300;
}
.singlefooter ul.clearfix {
margin-top: 30px;
border-top: 1px solid rgb(68 69 71 / 50%);
padding-top: 25px;
}
.singlefooter ul li {
position: relative;
padding-left: 30px;
padding-bottom: 12px;
}
.singlefooter ul li i {
position: absolute;
left: 0;
top: 4px;
color: #fbd396;
font-size: 18px;
}
.footerlink ul li {
position: relative;
padding-left: 0px;
padding-bottom: 12px;
}
.footerlink ul li a {
color: #fff;
position: relative;
padding-left: 30px;
font-family: 'Antonio', sans-serif;
text-transform: uppercase;
font-size: 15px;
transition: 0.5s;
-webkit-transition: 0.5s;
-moz-transition: 0.5s;
}
.footerlink ul li a:hover {
color: var(--main-color);
}
.footerlink ul li a:before{
position: absolute;
content: "\f35a";
font-family: "Font Awesome 5 Free";
font-weight: 900;
left: 0;
}
.customform .form-control {
background: #575757;
border: transparent;
border-radius: 0;
height: 45px;
width: 100%;
text-align: center;
}
.customform .customformbtn {
width: 100%;
height: 45px;
background: #b80000;
color: #fff;
text-align: center;
font-family: 'Antonio', sans-serif;
text-transform: uppercase;
font-weight: 900;
font-size: 18px;
transition: 0.5s;
-webkit-transition: 0.5s;
-moz-transition: 0.5s;
}
.customform .customformbtn:hover {
background: var(--second-color);
}
.connection ul.clearfix li {
background: none;
padding-left: 0;
}
.connection .icon {
float: left;
margin-right: 10px;
width: 5%;/* height: 21px; */
}
.connection .address {
font-size: 15px;
width: 90%;
float: right;
padding-bottom: 12px;
}
.singlefooter .footer-social {
padding-top: 25px;
margin: 0 auto;
text-align: center;
}
.singlefooter .footer-social ul{
display: flex;
justify-content: center;
}
.singlefooter .footer-social ul li{
padding-left: 5px;
}
.singlefooter .footer-social a {
display: inline-block;
height: 40px;
width: 40px;
color: #ffffff;
text-align: center;
line-height: 40px;
border-radius: 50%;
margin-right: 7px;
position: relative;
-webkit-transition: 0.5s;
-moz-transition: 0.5s;
transition: 0.5s;
z-index: 1;
}
.singlefooter .footer-social a i {
left: 0;
right: 0;
top: 0;
bottom: 0;
color: #ffffff;
font-size: 15px;
text-align: center;
line-height: 40px;
}
.singlefooter .footer-social a.twitter {
background: #ff7c4e;
}
.singlefooter .footer-social a.facebook {
background: #fbb34d;
}
.singlefooter .footer-social a.instagram {
background: #4e93fb;
}
.singlefooter .footer-social a.google {
background: #f00234;
}
.singlefooter .footer-social a:before {
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
background: #ffa500;
content: "";
border-radius: 50%;
opacity: 0;
-webkit-transition: all 0.3s;
-webkit-transition: 0.3s;
-o-transition: 0.3s;
transition: 0.3s;
z-index: -1;
}
.singlefooter .footer-social a:hover:before {
opacity: 1;
background: #434445;
}
.copyright {
padding: 20px 0 5px;
color: #fff;
font-weight: 300;
}
/*=====================responsive===========================*/
@media screen and (max-width: 1299px){
.banner-txt {
width: 60%;
}
#owldemo4 .owl-prev {
    left: -3%;
}
#owldemo4 .owl-next {
    right: -2%;
}
}
@media screen and (max-width: 1199px){
.navbar-nav .nav-link {
font-size: 14px;
}
.main-header .navbar-nav .nav-item {
padding-right: 16px;
}
.main-header .navbar-nav .nav-item:last-child {
margin-left: 15px;
}
.banner-txt {
width: 70%;
}
.banner-txt h2 {
font-size: 46px;
line-height: 1.2;
}
.banner-txt p {
margin: 18px 0px;
}
.banner-desc {
top: 58%;
}

}
@media screen and (max-width: 991px){
header {
margin: 0px 0;
}
.main-header {
background: transparent;
}   
.heading h2{
font-size: 35px;
}
/*-------menu-bar-----*/
.main-header .navbar-nav .nav-item:last-child {
margin-left: 0;
}
.main-header .navbar-nav .nav-item {
padding-right: 0px;
} 
.main-header .navbar-nav .nav-item:last-child a.nav-link {
background: transparent;
padding: 0;
color: var(--second-color);
font-weight: 400;
}
.navbar-nav {
width: 100%;
margin: 0 auto;
text-align: center;
position: absolute;
left: -100%;
opacity: 0;
transition: all .3s ease-in-out;
top: 0px;
height: 70vh;
padding-top: 30px;
z-index: 9;
}
.navbar{
position: unset;
}
.navbar-nav.active {
left: 0;
opacity: 1;
background: var(--third-color);
transition: all .3s ease-in-out;
width: 100% !important;
}
.main-header li.nav-item.active .nav-link {
background: transparent !important;
padding: 5px 0;
}
.navbar-nav .nav-link {
margin-bottom: 20px;
background: transparent;
padding: 5px 0;
}
.navbar {
width: 100%;
padding: 0;
}
.menu-toggle .bar {
width: 25px;
height: 3px;
transition: all 0.3s ease-in-out;
background:var(--main-color) !important;
margin-bottom: 5px;
}
#mobile-menu{
position: absolute;
top: 26px;
right: 5%;
z-index: 222;
cursor: pointer;
}
.darkHeader #mobile-menu {
position: absolute;
top: 27px;
right: 5%;
z-index: 222;
cursor: pointer;
}
.menu-toggle .bar{
display: block;
cursor: pointer;
}
#mobile-menu.is-active .bar:nth-child(2) {
opacity: 0;
}
#mobile-menu.is-active .bar:nth-child(1) {
transform: translateY(8px) rotate(45deg);
}
#mobile-menu.is-active .bar:nth-child(3) {
transform: translateY(-8px) rotate(-45deg);
}
.dropdown-menu{
width: 35%;
margin: 0 auto;
}
.banner-txt {
width: 90%;
}
.banner-txt h1{
font-size: 40px;
}
.banner-txt p{
font-size: 16px;
}
.banner .owl-theme .owl-nav.disabled+.owl-dots {
bottom: 4%;
}
.heading h2:before {
display: none;
}
.heading h2:after {
display: none;
}
.about-title p {
    margin-bottom: 20px;
}
.right-about {
    padding: 0;
    border-left: 0;
}
}
@media screen and (max-width: 834px){
.heading h2 {
    font-size: 30px;
    margin-bottom: 25px;
}
.offer-box .offer-details h3 {
    font-size: 16px;
}
.process-box .process-title h5.card-title {
    font-size: 18px;
}
.navbar-nav {
    height: 100vh;
}
}
@media screen and (max-width: 767px){
.banner-desc {
top: 48%;
}
.banner .owl-carousel .owl-item img {
display: block;
width: 100%;
height: 450px;
}
.banner-txt {
width: 100%;
}
.banner-txt h2 {
font-size: 36px;
}
.banner-txt p{
font-size: 14px;
}
.heading h2 {
font-size: 30px;
}
.blog-title h2 {
font-size: 35px;
}
.blog-title {
width: 46%;
padding: 14px;
}

.gridcontainer .item:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
.gridcontainer .item:nth-child(2) {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
}
.gridcontainer .item:nth-child(3) {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
}
.gridcontainer .item:nth-child(4) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}
.gridcontainer .item:nth-child(5) {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
}
.about-title p {
    font-size: 30px;
}
#owldemo4 .owl-prev {
    left: -8%;
}
#owldemo4 .owl-next {
    right: -8%;
}
}
@media screen and (max-width: 640px){
.callus ul {
    display: flex;
    flex-direction: column;
}
.callus ul li {
    margin: 8px 0;
}
.navbar-nav {
    height: 130vh;
}
}
@media screen and (max-width: 575px){
.dropdown-menu {
width: 50%;
}
.navbar-nav {
height: 130vh;
}
.banner .owl-carousel .owl-item img {
display: block;
width: 100%;
height: 350px;
}
.banner-txt h2{
font-size: 32px;
}
.banner-txt p {
font-size: 14px;
margin: 16px 0;
}
.owl-theme .owl-nav.disabled+.owl-dots{
display: none;
}
.right-about {
padding: 0;
}
.heading h2 {
font-size: 24px;
}
.blog-title {
width: 60%;
padding: 17px;
}
.blog-title h2{
font-size: 30px;
}
.left-blog-details h3 {
font-size: 20px;
}
.blog-rght-title h5 {
font-size: 19px;
}
.owl-theme .owl-nav {
display: none;
}
.gridcontainer {
    display: flex;
    flex-direction: column;
}

}
@media screen and (max-width: 425px){
.banner-txt h2 {
font-size: 26px;
}    
.navbar-nav.active .nav-link {
margin-bottom: 16px;
}
.dropdown-menu{
width: 80%;
}
}
@media screen and (max-width: 360px){
.banner-txt h2 {
font-size: 24px;
}
}